@{
    ViewData["Title"] = "Index";
}
<body class = "inicio"> 
<div>
    <h1>Welcome to Howards</h1>
    <h2><a href='@Url.Action("Sala1", "Home")'>Get Stareted</a></h2>
    <h2><a href='@Url.Action("Tutorial", "Home")'>Tutorial</a></h2>
</div>
</body>
