@{
    ViewData["Title"] = "Sala1";
}
<body class = "Sala1"> 
<div>
    <h1>Oh no! Las cualidades de las casas se han deordenado. ¿Puedes adivinarlas? </h1>
    <h2>NOROH</h2>
      <h2>ASIDUBIAR</h2>
      <h2>TELALDA</h2>
      <h2>CSATUIA</h2>

<form action = '@Url.Action ("Sala01", "Home")' method = "POST"> 
<input type= "text" nombre= "Ingrese la cualidad" />
<input type= "submit" nombre= "Validar" />
</form>
    
</div>
</body>
