@{
    ViewData["Title"] = "Sala3";
}
<body class = "Sala3"> 
<div>
    <h1> Oh no! Se ha perdido la lista de los estudiantes de las casas, por suerte, tenemos la gravacion del vos del sombrero diciendo cada una de las casas. En la respuesta, pomn 1 si la casa es Gryffindor, 2 si es Hufflepuff, 3 si es Ravenclaw y 4 si es Slytherin</h1>

<form action = '@Url.Action ("Sala04", "Home")' method = "POST"> 
<input type= "text" nombre= "Codigo" />
<input type= "submit" nombre= "Validar" />
</form>
    
</div>
</body>