@{
    ViewData["Title"] = "Sala3";
}
<body class = "Sala3"> 
<div>
    <h1>Te han preparado una prueba sorpresa de posiones! 
    ¿Estarás a la altura para pasarla sin problemas? </h1>
 

<form action = '@Url.Action ("Sala3", "Home")' method = "POST"> 
<input type= "text" nombre= "Ingrese el código" />
<input type= "submit" nombre= "Validar" />
</form>
    
</div>
</body>