@{
    ViewData["Title"] = "Sala3";
}
<body class = "Sala4"> 
<div>
    <h1> Muy bien! Pasaste todas las salas, pero...¿Podras resolver estos acertijos? </h1>
    <h2>"No soy humano, pero hablo sin cesar,
conozco tu alma y te puedo guiar.
En la cabeza me pongo con decisión,
y digo tu casa sin equivocación.
</h2>

<form action = '@Url.Action ("Sala4", "Home")' method = "POST"> 
<input type= "text" nombre= "Que soy?" />
<input type= "submit" nombre= "Validar" />
</form>
    
</div>
</body>