@{
    ViewData["Title"] = "Tutorial";
}
<body class = "tutorial"> 
<div>
    <h1>Tutorial</h1>
    <h3>Algo extraño está ocurriendo en Hogwarts. Un hechizo importante ha desaparecido de la Biblioteca de Hogwarts y se teme que pueda caer en las manos equivocadas. El director Dumbledore te ha encargado que, con la ayuda de tus amigos, lo encuentres antes de que cause un desastre.

Debes recorrer diferentes lugares del castillo, como las aulas, la Sala Común y el Gran Comedor, resolviendo acertijos y superando pequeños desafíos para encontrar las pistas que te lleven al hechizo perdido.</h3>
    <h2><a href='@Url.Action("Index", "Home")'>Vovler</a></h2>
</div>
</body>